* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --darkblue: #0d0e55;
    --blue: #1746A2;
    --lightblue: #5F9DF7;
    --orange: #FF731D;
    --white: #FFF7E9;
}

body {
    color: black;
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #CCC;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
}

.navigation .logo {
    color: var(--blue);
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.5s;
}

.logo span {
    color: var(--lightblue);
}

.navigation .logo:hover {
    font-size: 1.8rem;
    font-weight: 700;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--lightblue);
    font-size: 20px;
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: black;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1), .menu .bar:nth-child(3) {
    background: var(--orange);
}
