.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.2rem;
    color: var(--blue);
    margin-bottom: 0.8rem;
}

.home-text .text-h2{
    font-size: 2.7rem;
    margin-bottom: 0.3rem;
}

.home-text p {
    margin-bottom: 2rem;
}

.home-btn {
    padding: 15px 45px;
    background: var(--orange);
    color: var(--white);
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.5s;
}

.home-btn:hover {
    background: var(--blue);
}

.home-img img{
    border-radius: 15%;
    margin-top: 3rem;
    width: 70%;
}

/* PACOTES */

.pct-text {
    text-align: center;
    margin-top: 1rem;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.cards-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.card-item {
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    background: var(--white);
    border: 2.5px groove var(--lightblue);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 4px #000000;
  }

  .card-item:hover{
    color: var(--white);
    background: var(--darkblue);
    border: 2.5px solid black;
    box-shadow: 0 2px 4px #CCC;
    width: 340px;
    font-weight: 600;
  }

  .pacote-img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 3%;
  }

/* PASSEIOS */

.passeio-text {
    text-align: center;
    margin-top: 3rem;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.passeio-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.passeio-item {
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    background: var(--white);
    border: 2.5px groove var(--orange);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 4px #000000;
  }

  .passeio-item:hover{
    color: var(--white);
    background: var(--darkblue);
    border: 2.5px solid black;
    box-shadow: 0 2px 4px #CCC;
    width: 340px;
    font-weight: 600;
  }

.passeio-img {
    width: 70%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 3%;
  }

  /* PACOTES */
  
.pacotes {
    padding: 20px;
    background-color: var(--white);
}

.pacotes h2 {
    padding-top: 3rem;
    font-size: 28px;
    color: var(--blue);
    text-align: center;
    margin-bottom: 15px;
}

.pacotes-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}


.pacotes-item {
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    background: var(--white);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 4px #000000;
}


.pacotes-item:hover {
    border: 2.5px solid black;
    box-shadow: 0 2px 4px #CCC;
    width: 340px;
    font-weight: 600;
}

.pacotes-item h3 {
    font-size: 24px;
    color: var(--blue);
    margin-bottom: 10px;
}

.pacotes-item h5 {
    font-size: 16px;
    color: var(--lightblue);
    margin-bottom: 15px;
}

.pacotes-item ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}


.pacotes-item li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.pacotes-item li::before {
    content: "\2022"; /* Unicode for a bullet point (•) */
    position: absolute;
    left: 0;
    color: var(--blue); /* Change the color of the marker */
}


.pacotes-item li:last-child {
    font-size: 20px;
    color: var(--blue); /* Change the color of the price */
    font-weight: bold;
}

.pacote-btn {
    background-color: var(--orange);
    padding: 0.8rem 0.8rem;
    color: var(--white);
    border-radius: 10px;;
    border: whitesmoke;
    transition: 0.5s;
}

.pacote-btn:hover {
    background-color: var(--lightblue);
    padding: 1rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

