@media screen and (max-width:785px) {
    
    /* HEADER */
    .navigation {
        padding: 18px 20px;

    }

    .menu {
        display: block;

    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: 10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;

    }
    .nav-item {
        margin: 10px 0;
    }

    /* MAIN */

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .home .text-h4 {
        margin-top: 1rem;
        font-size: 20px;

    }

    .home .text-h2 {
        font-size:2.4rem;
    }

    .home p {
        font-size: 24px;
    }

    .home-img{
        width: 125%;
        margin-top: 0%;
    }
}